:root {
    --main-bg-color: #272A24;
    --text-color: #ABB193;
    --container-bg-color: var(--text-color);
  }
  
body {
    word-break: break-word;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.feed {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    justify-items: center;
}

.feed__item {
    border-bottom: 2px dotted;
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feed__image {
    background-color: var(--container-bg-color);
    display: inline-block;
    position: relative;
    border-radius: 5px;
}

.feed__image img {
    background-color: var(--container-bg-color);
    background-blend-mode: screen;
    mix-blend-mode: multiply;
    display: block;
    height: auto;
    max-width: 100%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all;
}   

.category-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.category-button.selected {
background-color: #000;
color: #fff;
}
