:root {
  --ob-color-seaweed: #272A24;
  --ob-color-laurel: #ABB193;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 160%;
}

body {
  background-color: var(--ob-color-seaweed);
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--ob-color-laurel);
}

p, a, details, span {
  color: var(--ob-color-laurel);
  text-decoration: none;
  font-family: Arial, sans-serif;
}

a[target=_blank] {
  text-decoration: underline;
  cursor: ne-resize;
}

#pop-up {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 100px;
  left: 100px;
}

#circle-menu {
  position: fixed;
  bottom: 10px;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 2px dotted var(--ob-color-laurel);
  border-radius: 50px;
  background: var(--ob-color-seaweed);
  text-align: center;
  transition: width .4s, height .4s .2s;
  transform: translate(-50%, 0%);
}

.links {
  display: none;
  flex-direction: column;
}

#circle-menu:hover {
  width: 250px;
  height: 200px;
}

#circle-menu:hover .links {
  display: flex;
}

#circle-menu:hover .links {
  display: flex;
}

#circle-menu a {
  padding: 5px;
  transition: background-color 0.2s;
}

#circle-menu a:hover {
  text-decoration: underline;
}

:focus {
  outline: 0;
}

details {
  position: absolute;
  margin: 10px;
  width: calc(25vw - 10px);
}

details:last-of-type {
  position: absolute;
  right: 0px;
  margin: 10px;
  width: calc(25vw - 10px);
}

details:last-of-type>summary {
  text-align: right;
  cursor: help;
}

details>summary::-webkit-details-marker {
  display: none;
}

details>summary {
  cursor: s-resize;
}

details[open]>summary {
  padding-bottom: 5px;
  cursor: n-resize;
}

@media(prefers-color-scheme:light) {
  details>p:last-child::after {
    display: inline-block;
    content: "We've observed that you're currently using Light Mode on your device. We kindly encourage you to explore the benefits of using Dark Mode to help conserve energy.";
  }
}

.container {
  margin: 0 auto;
}

.feed {
  display: grid;
  margin: 0 10px;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}

.feed__item {
  padding: 10px 0;
  min-height: calc(50vh - 40px);
  border-bottom: 2px dotted var(--ob-color-laurel);
}

.feed__image {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--ob-color-laurel);
  transition: background-color 0.3s;
}

.feed__image img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--ob-color-laurel);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all;
  background-blend-mode: screen;
  mix-blend-mode: soft-light;
}

.feed__image img:hover {
  border-radius: 5px;
  background-color: transparent;
  mix-blend-mode: normal;
}

@media (max-width: 768px) {
  .feed {
    grid-template-columns: 1fr;
  }

  .feed__item {
    min-height: 0;
  }
}
