{% extends layout %}
{% block  content %}
<section class="section">
  <div class="container--narrow">
    <h2>About Overbrowsing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet orci vitae interdum gravida. Sed feugiat sapien sed vestibulum posuere. Nam at erat tempus libero feugiat sagittis. Vivamus consequat scelerisque dolor, ultrices efficitur tortor ullamcorper id. Aenean rhoncus enim ut quam lacinia, vel cursus justo tempus. Fusce nec iaculis eros. Phasellus tristique euismod fermentum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet orci vitae interdum gravida. Sed feugiat sapien sed vestibulum posuere. Nam at erat tempus libero feugiat sagittis. Vivamus consequat scelerisque dolor, ultrices efficitur tortor ullamcorper id. Aenean rhoncus enim ut quam lacinia, vel cursus justo tempus. Fusce nec iaculis eros. Phasellus tristique euismod fermentum.
    </p>

    <ul>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
    </ul>

    <h2>About Overbrowsing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet orci vitae interdum gravida. Sed feugiat sapien sed vestibulum posuere. Nam at erat tempus libero feugiat sagittis. Vivamus consequat scelerisque dolor, ultrices efficitur tortor ullamcorper id. Aenean rhoncus enim ut quam lacinia, vel cursus justo tempus. Fusce nec iaculis eros. Phasellus tristique euismod fermentum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet orci vitae interdum gravida. Sed feugiat sapien sed vestibulum posuere. Nam at erat tempus libero feugiat sagittis. Vivamus consequat scelerisque dolor, ultrices efficitur tortor ullamcorper id. Aenean rhoncus enim ut quam lacinia, vel cursus justo tempus. Fusce nec iaculis eros. Phasellus tristique euismod fermentum.</p>

    <ul>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
      <li>Principles would go here</li>
    </ul>
  </div>
</section>
{% endblock %}