{% extends 'layout.njk' %}
{% block content %}

  <div class="feed">
    {% for item in data %}      
      <div class='feed__item'>

        {% if item.category %}
          <b class="feed__title">{{ item.category }} 
            {% if item.title %}
              · {{ item.title }}
          {% endif %} 
          </b>
        {% endif %}

        {% if item.content %}
          <p>{{ item.content }}</p>
        {% endif %}

        {% if item.contents %}
          {% set innerContent = item.contents %}
          {% for item in innerContent %}
            <p>{{item.title}}</p>
          {% endfor %}
        {% endif %}

        {% if item.image %}
          <div class='feed__image'><img src='../cache/images/{{ item.id }}.png' loading='lazy' /></div>
        {% endif %}
      

        {% if item.source or item.date %}
          {% set url = item.source.provider.url or item.source.url or '' %}
            <br></br>
            <b class="feed__date">
             
              {% if item.date %}{{ item.date | date("MMMM DD, YYYY") }}{% endif %} {% if not item.image and url %}· {{ url }}{% endif %}
            </b>    
        {% endif %}



      </div>
    {% endfor %}
  </div>
{% endblock %}