{% extends 'layout.njk' %}
{% block content %}

  <div class="feed">
    {% for item in data %}      
      <div class='feed__item'>

        {% if item.content %}
          <p>{{ item.content }}</p>
        {% endif %}

        {% if item.contents %}
          {% set innerContent = item.contents %}
          {% for item in innerContent %}
            <p>{{item.title}}</p>
          {% endfor %}
        {% endif %}

        {% if item.image %}
          <div class='feed__image'><img src='../cache/images/{{ item.id }}.png' loading='lazy' /></div>
        {% endif %}
      
        {% if item.title %}
          <p>{{ item.title }}</p>
        {% endif %}

        {% if item.source.title %}
          <a href={{item.source.url}}>{{ item.source.title }}</a>
        {% endif %}

      </div>
    {% endfor %}
  </div>
{% endblock %}