/* Global Styles */

:root {
  --seaweed: 66, 68, 57;
  --laurel: 214, 225, 213;
  --color-primary: rgb(var(--seaweed));
  --color-accent: rgb(var(--laurel));
  --color-accent-2: rgb(var(--laurel), .6);
  --color-accent-3: rgb(var(--laurel), .1);
  --header-height: 141px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-accent);
  font-family: -apple-system, Helvetica, sans-serif;
  font-size: 14.5px;
  font-weight: 300;
  line-height: 1.7;
  list-style: none;
  text-decoration: none
}

body {
  background: var(--color-primary);
  transition: background-color .5s cubic-bezier(.645, .045, .355, 1)
}

/* Typography */

h1 {
  margin-top: 2em;
  margin-bottom: .2em;
  font-size: 3.3em;
  font-weight: 350;
  line-height: 1.2
}

h1::before {
  content: attr(data-heading);
  display: block;
  margin-bottom: .7em;
  font-size: 14.5px
}

h2 {
  margin-top: 1em;
  margin-bottom: .4em;
  font-size: 2.2em;
  font-weight: 350;
  line-height: 1
}

h3 {
  padding: .3em 0;
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: 350
}

p:not(:first-of-type)+p:not(:first-of-type) {
  margin-top: 1em
}

p {
  margin-bottom: 1em
}

a {
  transition: color .3s cubic-bezier(.645, .045, .355, 1)
}

a:hover {
  color: var(--color-accent-2)
}

ol {
  counter-reset: list-counter
}

ol li {
  counter-increment: list-counter
}

ol li::before {
  content: counter(list-counter)". "
}

code,
pre {
  margin-bottom: 1.2em;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: .9em
}

pre {
  padding: .9em 1.2em;
  background: var(--color-accent-3);
  text-wrap: wrap
}

sup {
  margin: .1em .3em;
  font-size: 11px
}

/* Headers and Footers */

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: .6em 1em;
  border-bottom: 1px solid var(--color-accent);
  transition: all .5s cubic-bezier(.645, .045, .355, 1)
}

header>div {
  display: grid;
  grid: auto / repeat(3, 1fr)
}

header>div div:last-child,
footer div:last-child {
  grid-column: span 2;
  text-align: right
}

header menu {
  margin-bottom: 1em
}

header nav ul,
header div ul,
footer ul {
  display: inline-flex
}

header nav:last-of-type ul li:not(:last-of-type)::after,
header div:last-of-type ul li:not(:last-of-type)::after,
footer li:not(:last-of-type)::after {
  content: "•";
  margin: 0 .3em;
  font-size: 19px;
  line-height: 1
}

footer {
  display: grid;
  grid: auto / repeat(3, 1fr);
  padding: .6em 1em
}

footer img {
  display: block;
  margin: 6em 0 .4em 0
}

/* Sections */

main {
  max-width: 650px;
  margin: 0 1em
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em 0
}

section:first-of-type {
  margin-top: var(--header-height)
}

section:has(.image-container img[src]),
section:only-of-type {
  min-height: 100svh;
  margin-top: 0
}

section:only-of-type h1 {
  margin-top: calc(2em + var(--header-height))
}

hr {
  width: 100vw;
  height: 1px;
  border: 0;
  background: var(--color-accent);
  transform: translateX(-1em)
}

/* Images */

.image-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-accent);
  text-align: center
}

.image-container img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover
}

*~.image-container {
  margin: 2em 0
}

.image-container:has(.background) {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -1em;
  border: 0;
  opacity: .25;
  mix-blend-mode: lighten
}

.image-container:has(.background) img {
  width: 100vw;
  height: 100%
}

.image-container:has(.background) .alt-text,
.image-container:has(.background) .show-image {
  display: none
}

.image-container .alt-text {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center
}

.image-container .show-image {
  cursor: pointer;
  margin-bottom: 1em;
  transition: color .3s cubic-bezier(.645, .045, .355, 1);
  text-align: center
}

.image-container .show-image:hover {
  color: var(--color-accent-2)
}

figure figcaption {
  margin: .5em 0;
  text-align: center
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed
}

th,
td {
  padding: .5em;
  border: 1px solid var(--color-accent-2);
  border-right: none;
  border-left: none
}

caption {
  margin: .5em 0;
  caption-side: top
}

/* Buttons */

button,
.button {
  width: 100%;
  padding: .5em .9em;
  border: 1px solid var(--color-accent);
  background: none;
  color: var(--color-accent);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1), color .2s cubic-bezier(.645, .045, .355, 1)
}

button:hover,
.button:hover {
  background: var(--color-accent);
  color: var(--color-primary)
}

/* Inputs */

input,
textarea {
  width: 100%;
  padding: .5em .9em;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--color-accent);
  background: none;
  outline: none
}

input:focus,
textarea:focus {
  border-bottom: 1px solid var(--color-accent)
}

input::placeholder,
textarea::placeholder {
  color: var(--color-accent-2)
}

form:has(> input:only-of-type + button) {
  display: flex;
  margin-top: 1em
}

form:has(> input:only-of-type + button)>input:only-of-type {
  width: 100%;
  padding: .5em .9em;
  border: 1px solid;
  border-right: 0;
  margin-top: 0
}

form:has(> input:only-of-type + button)>button {
  width: auto;
  border-left: 0;
  margin-top: 0;
  text-align: right
}

form:has(> input:only-of-type + button)>button:hover {
  background: var(--color-primary);
  color: var(--color-accent-2)
}

input[type="radio"] {
  display: none
}

input[type="radio"]+label {
  position: relative;
  padding-left: 1.6em;
  cursor: pointer;
  margin-right: 1em
}

input[type="radio"]+label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-accent);
  border-radius: 50%
}

input[type="radio"]:checked+label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: var(--color-accent);
  border-radius: 50%
}

input[type="range"]+label {
  padding-left: .3em;
}

input[type="range"] {
  width: 73%;
  height: 1px;
  padding: 0;
  border: 0;
  margin: 6px 0 6px 0;
  margin-bottom: 1.6em;
  background: var(--color-accent);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transform: translateY(-4px)
}

input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-accent);
  background: var(--color-primary);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  cursor: pointer
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: var(--color-accent)
}

/* Summary */

summary {
  padding-top: 1em;
  border-top: 1px solid var(--color-accent-2);
  margin: 1em 0;
  cursor: pointer
}

summary::-webkit-details-marker {
  display: none
}

summary::before {
  content: "+";
  position: absolute;
  right: 0px
}

details[open] summary::before {
  content: "-"
}

/* References */

#references {
  padding: .8em 1em;
  border-top: 1px solid var(--color-accent)
}

#references * {
  overflow: hidden;
  max-width: 100%;
  color: var(--color-accent-2);
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap
}

#references a:hover {
  color: var(--color-accent)
}

/* Demand Shifter */

#demand-shifter {
  position: fixed;
  z-index: 1;
  bottom: -18em;
  width: 100%;
  padding: 1em;
  border-top: 1px solid var(--color-accent);
  background: var(--color-primary);
  transition: bottom .5s cubic-bezier(.645, .045, .355, 1)
}

#demand-shifter-body {
  max-width: 650px
}

#demand-shifter-body h2 {
  margin-top: 0
}

#demand-shifter button {
  width: calc(50% - .5em)
}

#demand-shifter button:first-of-type {
  background: var(--color-accent);
  color: var(--color-primary)
}

#demand-shifter button:first-of-type:hover {
  background: none;
  color: var(--color-accent)
}

#demand-shifter button+button {
  margin-left: 1em
}

/* Mobile */

@media screen and (max-width: calc(650px + 2em)) {
  h1 {
    font-size: 2.6em
  }

  h2 {
    font-size: 1.8em
  }

  header>div,
  footer {
    grid: auto / repeat(2, 1fr)
  }

  header>div div:last-child,
  footer div:last-child {
    grid-column: span 1
  }

  footer img {
    width: 180px;
    height: 43px
  }

  section:first-of-type:not(:only-of-type) {
    min-height: 100svh;
    margin-top: 0
  }

  @media (min-height: 100svh) {
    section:first-of-type {
      margin-top: 141px
    }
  }

  .image-container:has(.background) {
    opacity: .1
  }

  #data-image,
  #data-grid,
  #data-aq {
    display: none
  }
}