{% extends 'layout.njk' %}
{% block content %}
  {% block scripts %}
    <script defer src="https://d3js.org/d3.v5.min.js"></script>
    <style>
      @keyframes dash {
        to {
          stroke-dashoffset: 1000;
        }
      }

      g a {
        color: #ABB193;
      }

      .node circle {
        stroke-width: 2px;
        fill: #272A24;
        transition: fill 0.3s ease;
      }

      .node:hover circle {
        fill: #40443B;
      }

      .link {
        fill: none;
        stroke: #ABB193;
        stroke-width: 1px;
        stroke-dasharray: 3 3;
        transition: stroke 0.3s ease;
        pointer-events: auto;
      }

      .link-hover {
        stroke-width: 2px;
        animation: dash 60s linear;
      }

      .node text {
        font-size: 12px;
        fill: #ABB193 !important;
        text-anchor: middle;
        pointer-events: none;
        max-width: 100px;
      }

      .node, .link {
        display: none;
      }

      .root {
        display: block;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    </style>
    <script defer>
      fetch('data/data.json')
        .then(res => res.json())
        .then(data => {
          const restructuredData = {
            id: 'Overbrowsing',
            title: 'Overbrowsing',
            children: [],
          };

          const groupedByCategory = {};

          data.forEach(categoryNode => {
            const category = categoryNode.category || 'Uncategorized';
            groupedByCategory[category] = groupedByCategory[category] || [];
            groupedByCategory[category].push(categoryNode);
          });

          for (const [category, items] of Object.entries(groupedByCategory)) {
            const categoryNode = {
              id: category.replace(/\s+/g, '-'),
              title: category.replace(/\s+/g, '-'),
              children: [],
            };

            items.forEach(item => {
              if (item.contents) {
                const contentCategoryNode = {
                  id: item.title.replace(/\s+/g, '-'),
                  title: item.title,
                  children: item.contents,
                };
                categoryNode.children.push(contentCategoryNode);
              } else {
                categoryNode.children.push(item);
              }
            });

            restructuredData.children.push(categoryNode);
          }

          const pageWidth = document.documentElement.clientWidth;
          const pageHeight = document.documentElement.clientHeight;

          const svg = d3.select('body').append('svg');

        const simulation = d3.forceSimulation()
          .force('link', d3.forceLink().id(d => d.id).distance(300).strength(0.1))
          .force('charge', d3.forceManyBody().strength(-10))
          .force('center', d3.forceCenter(pageWidth / 2, pageHeight / 2))
          .alphaDecay(0.02)
          .alphaTarget(0.1) // Adjust alphaTarget for smoother transitions and closer starting positions


          const flatten = (root) => {
            const nodes = [];
            const links = [];

            const recurse = (node, parent) => {
              if (node.children) {
                node.children.forEach(child => {
                  if (child.title) {
                    links.push({ ...node, source: node.id, target: child.id });
                    recurse(child, node);
                  }
                });
              }
              nodes.push({ ...node, parent });
            };

            recurse(root, null);

            return { nodes, links };
          };

          const { nodes, links } = flatten(restructuredData);

          const link = svg.selectAll('.link')
            .data(links)
            .enter().append('path')
            .attr('class', 'link')
            .attr('data-id', d => d.target.id);

          const node = svg.selectAll('.node')
            .data(nodes)
            .enter().append('g')
            .attr('class', d => (d.id === 'Overbrowsing' ? 'node root' : 'node'))
            .attr('data-id', d => d.id)
            .attr('data-parent', d => (d.parent ? d.parent.id : null))
            .on('click', clicked)
            .on('mouseover', handleMouseOver)
            .on('mouseout', handleMouseOut)
            .call(d3.drag()
              .on('start', dragstarted)
              .on('drag', dragged)
              .on('end', dragended));

          node.append('circle')
            .attr('r', d => (d.children ? 75 : 50))
            .filter(d => d.children)
            .style('stroke', '#ABB193');

          // Append foreignObject for items with children
          node.filter(d => d.children)
            .append('foreignObject')
            .attr('width', 100)
            .attr('height', 40)
            .attr('x', -50)
            .attr('y', -5)
            .append('xhtml:div')
            .style('overflow', 'visible')
            .style('white-space', 'pre-wrap')
            .style('text-align', 'center')
            .html(d => `${d.title} · ${d.children.length}`);

          // Append a tag for items without children
          node.filter(d => !d.children)
            .append('a')
            .attr('href', d => 'feed#' + d.id)  // Set the href attribute to d.url
            .append('foreignObject')
            .attr('width', 100)
            .attr('height', 40)
            .attr('x', -50)
            .attr('y', -5)
            .append('xhtml:div')
            .style('overflow', 'visible')
            .style('white-space', 'pre-wrap')
            .style('text-align', 'center')
            .html(d => d.title);

          simulation.nodes(nodes).on('tick', () => {
            link
              .attr('data-id', d => d.target.id)
              .attr('d', d => `M${d.source.x},${d.source.y} L${d.target.x},${d.target.y}`);

            node
              .attr('transform', d => `translate(${d.x},${d.y})`);
          });

          simulation.force('link').links(links);

          function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.1).restart();
            d.fx = d.x;
            d.fy = d.y;
          }

          function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
          }

          function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(1);
            d.fx = null;
            d.fy = null;
          }

          function clicked(d) {
            toggle(d);
          }

          function handleMouseOver(d) {
            d3.select(this).select('circle').transition().duration(300).attr('r', d => (d.children ? 80 : 60));
            const correspondingLink = document.querySelector(`.link[data-id="${d.id}"]`);
            if (correspondingLink) {
              correspondingLink.classList.add("link-hover");
            }
          }

          function handleMouseOut(d) {
            d3.select(this).select('circle').transition().duration(300).attr('r', d => (d.children ? 75 : 40));
            const correspondingLink = document.querySelector(`.link[data-id="${d.id}"]`);
            if (correspondingLink) {
              correspondingLink.classList.remove("link-hover");
            }
          }

          function toggle(node) {
            if (node.children) {
              node.children.forEach(child => {
                if (child.title) {
                  const childElements = svg.selectAll(`g[data-id="${child.id}"]`);
                  const childLinks = svg.selectAll(`.link[data-id="${child.id}"]`);

                  if (childElements.node()) {
                    const dataParentValue = childElements.attr('data-parent');
                    const parentElement = svg.select(`g[data-id="${dataParentValue}"]`);

                    if (parentElement.style('display') == 'none') {
                      childElements.style('display', 'none');
                      childLinks.style('display', 'none');
                    } else {
                      childElements.style('display', childElements.style('display') === 'none' ? 'block' : 'none');
                      childLinks.style('display', childLinks.style('display') === 'none' ? 'block' : 'none');
                    }
                  }

                  if (childElements.style('display') == 'none') {
                    toggle(child);
                  }
                }
              });
            }
          }
        });
    </script>
  {% endblock %}
{% endblock %}
