<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overbrowsing</title>
  <meta name="description" content="Overbrowsing: dedicated to fostering a deeper understanding of sustainable web design.">
  <meta property="og:title" content="Overbrowsing">
  <meta property="og:description" content="Overbrowsing: dedicated to fostering a deeper understanding of sustainable web design.">
  <meta property="og:image" content="https://overbrowsing.com/assets/share-card.webp">
  <meta property="og:url" content="https://overbrowsing.com">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌎</text></svg>">
  <link rel="stylesheet" href="/style.css">
</head>
  <body style="background-color: {{ aqiData.backgroundColor }}">
    <nav>
        <div class="nav-container">
        <div class="nav-about">
            <p><b>Overbrowsing</b> compiles sustainable web design resources, tools, strategies, principles, and other related media. The term Overbrowsing carries a <a href="https://en.wikipedia.org/wiki/Browsing_(herbivory)#:~:text=Overbrowsing%20occurs%20when%20overpopulated%20or%20densely-concentrated%20herbivores%20exert%20extreme%20pressure%20on%20plants,%20reducing%20the%20carrying%capacity%20and%20altering%20the%20ecological%20functions%20of%20their%20habitat." target="_blank">dual meaning</a> that aligns with the core mission of the initiative.</p>
            <p>This is a low-consumption site that uses just {{ carbonData.statistics.co2.renewable.grams | round(2) }}g CO2e and runs on clean energy.</p>
            <p>The website background changes color based on air quality. Today, the air quality is {{ aqiData.airQualityDescription }}.</p>
            <p>Overbrowsing is <a href="https://are.na/are-na/powered-by-are-na" target="_blank">Powered by Are.na</a> and employs techniques and principles to make it low-consumption. See our <a href="https://github.com/overbrowsing/overbrowsing.com" target="_blank">Github</a> to find out more about the construction of this website.</p>
            <p>The project was created by <a href="https://headless.horse" target="_blank">Headless Horse</a> and <a href="https://printerscanner.net" target="_blank">printer_scanner</a>.</p>
        </div>
        <div class="nav-links">
            <a href="/">Graph</a>
            <a href="/feed">Research</a>
            <a href="/about">About</a>
        </div>

        {% if page == "feed" %}
          <!-- Generate filter buttons dynamically from unique categories -->
          <p>Categories</p>
          <div class="filter-buttons">
            <button onclick="resetFilter()">All</button>
            {% set uniqueCategories = [] %}
            {% for item in data %}
              {% if item.category not in uniqueCategories %}
                {% set _ = uniqueCategories.push(item.category) %}
                <button onclick="filterByCategory('{{ item.category }}')">{{ item.category }}</button>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
    </nav>

    {% block  content %}
    {% endblock %}    
    </body>
</html>