<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overbrowsing</title>
  <meta name="description" content="Overbrowsing: dedicated to fostering a deeper understanding of sustainable web design.">
  <meta property="og:title" content="Overbrowsing">
  <meta property="og:description" content="Overbrowsing: dedicated to fostering a deeper understanding of sustainable web design.">
  <meta property="og:image" content="https://overbrowsing.com/assets/share-card.webp">
  <meta property="og:url" content="https://overbrowsing.com">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌎</text></svg>">
  <link rel="stylesheet" href="./style.css">
</head>
  <body style="background-color: {{ aqiData.backgroundColor }}">
    <nav>
        <div class="nav-container">
        <div class="nav-about">
          <p><b>Overbrowsing</b> is an applied research think tank dedicated to fostering a deeper understanding of sustainable web design. This is a low-consumption site that uses just {{ carbonData.statistics.co2.renewable.grams | round(2) }}g CO2e and runs on clean energy. The website background changes color based on air quality. Today, the air quality is {{ aqiData.airQualityDescription }}.</p>
        </div>
        <div class="nav-links">
            <a href="/">Graph</a>
            <a href="/feed">Research</a>
            <a href="/about">About</a>
        </div>
        {% if page == "feed" %}
          <!-- Generate filter buttons dynamically from unique categories -->
          <p>Categories</p>
          <div class="filter-buttons">
            <button onclick="resetFilter()">All</button>
            {% set uniqueCategories = [] %}
            {% for item in data %}
              {% if item.category not in uniqueCategories %}
                {% set _ = uniqueCategories.push(item.category) %}
                <button onclick="filterByCategory('{{ item.category }}')">{{ item.category }}</button>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
    </nav>
    {% block  content %}{% endblock %}    
    {% if page == "home" %}
      <script defer src="https://d3js.org/d3.v5.min.js"></script>
    {% endif %}
    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
    </body>
</html>