{% extends 'layout.njk' %}
{% block content %}
  <h1 class="visually-hidden">Research</h1>
  <div class="text-link view-all" onclick="resetFilter()">View All</div>
  <div class="research">
    {% for item in data  %} 
      {% if item.date %}
        {% set formattedItemDate = item.date | string %}
        {% set formattedItemDateObject = formattedItemDate | parseDate %}
        {% set formattedDateString = formattedItemDateObject.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric'}) %}
        {% set ageInDays = (currentDate - formattedItemDateObject) / (1000 * 60 * 60 * 24) %}
      {% endif %}    
     <div class='research__item' data-category="{{ item.category | default('') }}" id={{item.id}}>
        {% if item.category %}
          <b class="research__title"><span class="text-link" onclick="filterByCategory('{{ item.category }}')">{{ item.category }}</span>
            {% if item.title %}
              · {{ item.title | truncate(25) }}
            {% endif %} 
      
            {% if ageInDays <= 7 %}
              <div class="new-indicator"></div>
            {% endif %}
          </b>
        {% endif %}
        {% if item.content %}
          <p>{{ item.content | truncate(1500) }}</p>
        {% endif %}
        {% if item.contents %}
          {% set innerContent = item.contents %}
          {% for innerItem in innerContent %}
            <p>{{innerItem.title}}</p>
          {% endfor %}
        {% endif %}
        {% if item.image %}
          <div class='research__image'><img src='images/{{ item.id }}.png' loading='lazy' /></div>
        {% endif %}
        {% if item.source or item.date %}
          {% set url = item.source.provider.name or item.source.title or "Source" %}
          {% set url_link = item.source.url or item.source.provider.url or "https://are.na/block/" + item.id %}
        {% endif %}
            <br></br>
            <b class="research__date">
              {% if formattedDateString %}
                {{ formattedDateString }}
              {% endif %} 
              {% if url %}· 
                <a class="text-link" href="{{ url_link }}">
                  {{ url }}
                  </a>
              {% endif %}
            </b>     
      </div>
    {% endfor %}
  </div>
  <script>
    function filterByCategory(category) {
      // Show only items with the selected category
      let researchItems = document.querySelectorAll('.research__item');
      researchItems.forEach(item => {
        if (item.getAttribute('data-category') === category || category === 'all') {
          item.style.display = 'flex';
        } else {
          item.style.display = 'none';
        }
      document.querySelector('.view-all').style.display = "block";
      });
    }
    function resetFilter() {
      // Show all items
      let researchItems = document.querySelectorAll('.research__item');
      researchItems.forEach(item => {
        item.style.display = 'flex';
      });
      document.querySelector('.view-all').style.display = "none";
    }
  </script>
{% endblock %}
